@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@300;500&family=Varela+Round&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.8em;
  font-size: large;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-top: 0px;
  margin: 0 0 0.4em 0;
  color: #cfad89;
}

.navbar {
  background-color: #1088a0 !important;
}

/* Vesrsion */
.label {
  padding: 0.3em 0.3em 0.3em;
  font-size: 110%;
  font-weight: 500;
  color: #fff;

  border-radius: 50%;
}

.label-default {
  background-color: #78b2c4;
}

/* The "default" hyperlinks */
a:hover {
  color: #818792;
  text-decoration: underline;
}
a {
  color: #1088a0;
}

a:active {
  text-decoration: underline;
}

/* Navigation bar hyperlinks */
.navbar-link {
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: 300;
}

.navbar-link:hover {
  color: #fff;
}

/* Navigation bar hyperlinks */
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-weight: 300;
  font-size: 1.1em;
}

.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

.nav > .active > a,
.nav > .active > a:focus,
.nav > .active > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  text-decoration: underline !important;
  border-color: #1088a0;
}

/* TOC */
nav[data-toggle="toc"] .nav > li > a {
  font-size: 0.9em;
  font-weight: 300;
}

nav[data-toggle="toc"] .nav > .active > a,
nav[data-toggle="toc"] .nav > .active:hover > a,
nav[data-toggle="toc"] .nav > .active:focus > a {
  font-size: inherit;
  font-weight: 300;
  border-left: 2px solid #818792;
  color: #818792;
  text-decoration: none;
}

nav[data-toggle="toc"] .nav .nav > .active > a,
nav[data-toggle="toc"] .nav .nav > .active:hover > a,
nav[data-toggle="toc"] .nav .nav > .active:focus > a {
  padding-left: 15px;
  font-weight: 300;
  font-size: 1.35rem;
  color: #818792;
  text-decoration: none;
}

nav[data-toggle="toc"] .nav .nav > li > a {
  font-weight: 300;
}

/* toggler button - small window size */
.navbar-toggle {
  background-color: #78b2c4;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(207, 173, 137)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  padding: 9px 5px;
}

/* dropdown menu */
.dropdown-header {
  font-size: 1.1em;
  color: #cfad89;
  font-weight: 500;
  background: white;
}

.dropdown-menu > li > a {
  font-weight: 300;
  background: white;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #cfc1af;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #78b2c4;
  outline: 0;
  font-weight: 300;
}

/* custom classes */
.legend {
  font-size: 80%;
  color: #818792;
}

h4.author {
  font-family: "Varela Round", sans-serif;
  font-size: 0.8em;
  color: #818792;
  font-weight: normal;
}

h4.date {
  font-family: "Varela Round", sans-serif;
  font-size: 0.8em;
  color: #818792;
  font-weight: normal;
  margin-bottom: 1.5em;
}
